/* В этом файле будут 
храниться все значения переменных в исходном 
состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --color-background: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --font-main: "Inter-Variable";
  --font-additional: "PressStart2P-Regular";
  --font-weight-text: 400;
  --font-weight-title: 700;
  --color-text: #000;
  --Themes-background-color:#FFF;
  --color-text-button:#FFF;
  --color-main-body:transparent;
  --color-sparks:red;
  --lable-color:#FFF;
}
